@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    background-color: #202020;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 8em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 20em;
    height: 25em;
    margin: 1em;
    padding: 2em;
}

.card-icon {
    max-width: 6em;
    max-height: 6em;
    border-radius: 50%;
    margin: 1em;
}

.card-name, .card-title {
    text-transform: uppercase;
}

.card-name {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
}

.card-title {
    font-size: 1em;
    font-stretch: extra-expanded;
    color: grey;
}

.card-description {
    font-size: 1em;
    text-align: center;
    margin: 1em 0;
}

.card-social-icon {
    display: inline-block;
    font-size: 1.5em;
    opacity: 50%;
    margin: 0 0.2em;
}

.card-social-icon:hover {
    opacity: 75%;
}